.container {
  background-color: #000;
  color: #fff;
}

#effect {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 90%;
}

.effect-param {
  display: flex;
  justify-content: space-evenly;
}

.effect-param-input {
  width: 90%;
}

.radio-group {
  display: flex;
}

#engine {
  font-size: 20px;
  font-style: oblique;
  color:antiquewhite;
}

#delay-head {
  font-style: oblique;
  font-weight: 300;
  color:antiquewhite;
}